<%= link_to user_path(comment.user), multipart: true do %>
	<li>
		<img class="student_image img-circle" src="<%=comment.user.photo%>">
		<%= comment.user.name %> 
	</li>
	<li>
		<%= render partial: '/comments/hashtag_rendering', locals: {body: comment.body} %>
	</li>
<% end %>




































