
<ul>
	<% stories.each do |story| %>
	<li><%= button_to "Delete Story", story_path(story), :method => :delete, data: {confirm: 'NOTICE: All comments associated with this story will be lost. Are you sure? '}, style:"float:right", class:"pure-button button-error" %></li>
	<li><%= link_to "#{story.title}", story_path(story) %></li>
	<% end %>
</ul>

