<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<%= stylesheet_link_tag    'marketing', media: 'all'%>
<div class="splash-container">
	<div class="splash">
		<!-- <img class="profile_pic img-circle" src="<%= @user.photo  %>"> -->
		<img class="profile_pic img-circle" src="http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKDjp4XfXRABGAEyCPrmUxipeG8d">
		<p class="splash-subhead">
			<%= @user.email  %>
		</p>
		<p>
			<% if current_user.id == @user.id%>
			<%= link_to 'Delete account', user_path(current_user), method: 'delete', :class => "pure-button pure-button-primary", data: {confirm: 'NOTICE: All data associated with this user will be lost. Are you sure? '} %>
			<% end %>
		</p>
	</div>
</div>