<ul>
  <li class="dropdown open">
    <div class="notificationenvelope" data-note="yes"><i class="fa fa-envelope"></i><span class="caret"></span>
      <% if notifications.length >= 1%>
        <% if notifications.first.status == true%>
          <i class="fa fa-plus" id="newnotify"></i>
        <% end %>
        <% end %>
    </div>
       
