<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag    'splash', media: 'all'%>
    <title>Bibliotate</title>
</head>
<div class="banner">
    <h1 class="banner-head">
        Bibliotate.<br>
        <br>
        Annotating made easy.
    </h1>
</div>

<div class="l-content">
    <div class="info-tables pure-g">
        <div class="pure-u-md-1-2 pure-u-sm-1 splash_rework">
            <div class="info-table info-table-biz info-table-selected">
                <div class="info-table-header">
                    <span class="info-table-head">
                        Teachers 
                    </span>
                </div>
                <ul class="info-table-list">
                    <li>Easy setup, have students find your class and sign up</li>
                    <li>Get notifications when students join class or make posts</li>
                    <li>Add classes quickly and easily</li>
                    <li>Discuss comments in class to continue conversation</li>
                    <li>Load your assignments via pdf or text files</li>
                </ul>

                <a href="/auth"><button class="button-choose pure-button">Join today!            <i class="fa fa-google-plus"></i></button></a>
            </div>
        </div>
        <div class="pure-u-md-1-2 pure-u-sm-1 splash_rework">
            <div class="info-table info-table-free">
                <div class="info-table-header">
                    <span class="info-table-head">
                        Students 
                    </span>
                </div>
                <ul class="info-table-list">
                    <li>Discuss stories online</li>
                    <li>Share thoughts with classmates easily</li>
                    <li>Ask others how they interpreted text</li>
                    <li>Tag classmates to keep the discussion going</li>
                    <li>Follow trends using hashtags</li>
                </ul>
    
                <a href="/auth"><button class="button-choose pure-button">Join today!            <i class="fa fa-google-plus"></i></button></a>
            </div>
        </div>
    </div> <!-- end info-tables -->

    
    
</div> <!-- end information -->
</div> <!-- end l-content -->
</body>
</html>