  <%= stylesheet_link_tag    'marketing', media: 'all'%>
  <div class="splash-container">
  	<div class="splash">
  		<h1>Checkout what's trending!</h1>
  		<% @hashtags.each do |tag|%>
  		<li><%= link_to "#{tag.tag}", hashtag_path(tag) %></li>	
  		<% end %>
  	</div>
  </div>	