<div id="enrollment-form-container">

<h2>Enroll in a course</h2>
  <%= form_for :enrollment, url: enrollments_path, method: :post do |f| %>
    <div>
      <% @courses.each do |course| %>
        <%= f.label :course, "#{course.name}" %>
        <%= f.radio_button :course, "#{course.name}" %><br>
      <% end %>
    </div>

    <div>
      <%= f.submit "Select Course", class:"pure-button pure-button-primary" %>
    </div>

    <% end %>


</div>
