/**= require_self
*= require normalize-rails
*= require_tree*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


/* PAGE BODY --------------------------------- */

body {
  background-image: url('lightpaperfibers.png');
  background-repeat: repeat;
  background-color: 
}

.container-fluid {
  padding: 0 10px 10px;
}

/* STORY PAGE --------------------------------- */

.commented{
  color: #66BDFF;
}
.commented2{
  color: #5555FE;
}
.commented3{
  color: #3333C3;
}

#story_title {
  text-align: center;
}
#story_author {
  text-align: center;
}

#story_info {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Droid Serif', serif;
  color: #769995;
  margin: 0 0 40px;
}

.paragraph {
  margin: 0 8% 10px;
}

.sentence {
  line-height: 2em;
  text-decoration: none;
  font-size: 1.4em;
  font-style: georgia, serif;
  cursor: crosshair;
}

.sentence:hover {
  background-color: #FFD38F;
}
.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}
.button-small {
  font-size: 85%;
}
.button-xsmall {
  font-size: 75%;
}

.popup {
  border: 1px solid rgba(0,0,0,0.15);
  background-color: white;
  overflow-y: scroll;
  position: fixed;
  top: 7%;
  left: 80%;
  width: 20%;
  height: 625px;
}
.popup h3{
  text-align: center
}

.popup textarea {
  width: 95%;
  border: none;
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
  border: 1px solid rgba(0,0,0,0.1);
  display: block;
  margin: auto;
  margin-top: 15px;
}

.comment_form input {
  margin-left: 40%;
}

.submit_link {
  color: #7A6A53;
  font-size: 1em;
  text-decoration: none;
  font-style: georgia, serif;
  display: block;
  margin-top: 7px;
  text-align: center;
}

.submit_link:hover {
  background-color: grey;

}

.hover-text {
  color: black;
  margin: 2px 0 0 -4px;
  padding: 0 0 0 0;
  position: absolute;
}

.profile {
  height: 600px;
  margin-left: 30%;
  width: 50%;
}

.student_image {
  max-width: 50px;
  max-height: 50px;
}

.storycreate h2 {
  font-size: 2em;
  font-family: 'sans-Serif', serif  

}

.storycreate {
  text-align: center
}

#story_text_file {
  margin-left: 10%
}
#story_file {
  margin-left: 16%
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

/* SPLASH PAGE --------------------------------- */

#splash_section {
  width: 100%;
  vertical-align: center;
  text-align: center;

}

#splash {
  font-size: 45em;
  color: #5D5050;
}



/* USER INDEX PAGE --------------------------------- */

#my_enrollments {
  text-align: center;
}


/* CARDS PARTIALS --------------------------------- */

.course_icon {
  margin: 0 5px 0 0;
}

.card {
  width: 94%;
  margin: 3%;
  height: 400px;
  background-color: #1f8dd6;
  border: 2px solid rgba(175,192,190,0.1);
  border-radius: 4px;
  padding: 1%;
  overflow-y: scroll;
}

.card ul {
  list-style: none;
}
.student_roster a {
  color: white;
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  float: right;
}
.postcomment {
  margin-left: 23%;
}

.story_links {
  color: #EC7962;
  font-size: 1.25em;
  margin: 0 0 0 25px;
}
.story_links a {
  color: #EC7962;
  font-size: 1em;
  float: left;
  margin: 0 0 0 15px;
}

.comments {
  float: right;
  margin: 0 20px 0 0;
  
}

/* PROFILE PAGE --------------------------------- */
.new_course_form{
  text-align: center
}

#profile_header {
  text-align: center;
}

.card_profile {
  width: 100%;
  background-color: white;
  border: 2px solid rgba(175,192,190,0.1);
  border-radius: 4px;
  padding: 1%;
  margin: 40px 0 ;
  margin-bottom: 10%;
  box-shadow: 0px 2px 67px #999;
  float: left;
  overflow: auto;
}

.profile_pic {
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: auto;
}

#profile_username {
  text-align: center;
}

.removestudent{
  float:right;
}

.pure-menu-children{
  z-index: 100 !important;
}

.hover-text {
  color: black;
  margin: 2px 0 0 0px;
  padding: 0 0 0 0;
  position: relative;
}

.card ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul, li {
  list-style: none;
}

.comment_display {
  max-height: 300px;
  overflow-y:scroll;
}

#headline {
  text-align: center;
  margin:0;
  padding:0;
}

.story-photo {
  display: block;
  width: auto;
  margin: auto;
  height: 300px;
  width: 300px;
}

.photo-with-caption {
  text-align: center;
}

.pure-table{
  color:#EEEEEE;
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
  margin: 0%;
  padding: .25%
}
.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
  float: right;
}

#active_users_card, #most_commented, #comments_card{
  background-color:white
}

#enrollment-form-container{
  margin-bottom: 5%;
  text-align: center
}