
<% if flash[:messages].class == Array %>
  <% flash[:messages].each do |message|%>
      <li id="message"><%=  message  %></li>
    <% end %>
  <% elsif flash[:messages].class == String && flash[:messages] != "" %>
      <li id="message"><%=  flash[:messages]  %></li>
<% end %>
  <% flash[:messages] = "" %>
